.contenido{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid black; */
    height: 500px;
    margin: 10px  10px 0px 10px;
    text-align: left;
}
.fila h1{
    color: rgb(223, 64, 64);
    font-family: 'Amatic SC', cursive ;

    font-family: 'Barlow Condensed', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Serif', serif;

    font-family: 'Ubuntu Mono', monospace;

    font-weight: 900;
    font-size: 2.1rem;
    margin-bottom: 20px;
}
.fila h3{
    font-family: 'Amatic SC', cursive ;

    font-family: 'Barlow Condensed', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Serif', serif;

    font-family: 'Ubuntu Mono', monospace;

    font-weight: 300;
}
.fila{
    padding: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid tomato; */
    width: 45%;
    height: 300px;
    text-align: left;
    margin: 20px;
    background: linear-gradient(180deg, #ccc, #ffff);
    opacity: 0.8;
    box-shadow: 0 3px 20px #ccc;
    border-radius: 20px;
}
.fila-2{
    /* border: 2px solid tomato; */
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 20px;
    /* perspective: 700px; */
    /* perspective-origin: bottom; */
}
.foto{
    max-width: 400px;
    /* transition: all 1s; 
    transform: rotateY(150deg) rotateX(-30deg); */
    /* animation: sol 5s linear infinite; */
}   
/* @keyframes sol {
    0%, 100%{
        transform: translateY(-15px);
    }

    50%{
        transform: translateY(10px);
    }
} */
@media screen and (max-width: 900px) {
    .contenido{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        height: 500px;
        width: 100%;
        margin: 0;
        border: none;
    }
    .fila,.fila-2{
        border: 2px solid tomato;
        width: 100%;
        margin: 0;
        border: none;
    }
    .fila{
        padding: 40px;
       
    }
    .fila-2{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .foto{
        max-width: 300px;
    }
}

/* ICONOS REDES SOCIALES */
.item-social{   
    display: flex;
    justify-content: left;
    flex-direction: row;
    list-style-type: none;
    margin-top: 10px;
}
.item-social li a img{
    width: 25px;
    height: 25px;
}
.item-social li{
    margin-top: 10px;
    margin-right: 20px;
}
/* ANIMACION ILUSTRACION */

#sol-js,#sol-js2{
    animation: moveSol 8s ease;
}

@keyframes moveSol{
    from{transform: rotate(20deg);}
}
#movimiento1,#movimiento2,#movimiento3{
    animation: fila1 3s ease infinite;
}

@keyframes fila1{
    0%, 100%{
        transform: translateX(-5px);
    }

    50%{
        transform: translateX(8px);
    }
}

#bootstrap-2,#css-2{
    animation: bootstrap 3s ease infinite;
}

@keyframes bootstrap{
    0%, 100%{       
        transform: translateY(-15px);
    }

    50%{
        transform: translateY(15px);
    }
}
#html-2{
    animation: html 3s ease infinite;
}

@keyframes html{
    0%, 100%{       
        transform: translateY(20px);
    }

    50%{
        transform: translateY(-20px);
    }
}

/* BARRA DE PROGRESO */
.container-progreso{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}
.progre-1,.progre-2,.progre-3,.progre-4,.progre-5,.progre-6{
    border: 1px solid tomato;
    min-width: 70%;
}
.progre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid green; */
    min-width: 70%;
}
.progresion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    /* border: 1px solid rgba(255, 0, 0, 0.26); */
    border-radius: 8px;
}
.tamaño-html{
    width: 80%;
    animation: progresion 9s linear;
    color: white;
    background-color: #fd4b0f;
}
.tamaño-css{
    width: 80%;
    animation: progresion 9s linear;
    background-color: #2193f3;
    color: white;
}
.tamaño-bootstrap{
    width: 70%;
    background-color: #5e3b7f;
    color: white;
    animation: progresion 7s linear;
}
.tamaño-js{
    width: 30%;
    background-color: #ffdf00;
    color: white;
    animation: progresion 3s linear;
}
.tamaño-php{
    width: 40%;
    background-color: #000;
    color: white;
    animation: progresion 4s linear;
}
.tamaño-laravel{
    width: 30%;
    background-color: #ff5549;
    color: white;
    animation: progresion 3s linear;
}
.lenguages{
    width: 50px;
}
.imagen{
    padding: 10px;
}

@keyframes progresion {
    from{width: 0;}
}