.contenido{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid black; */
    height: 500px;
    margin: 10px  10px 0px 10px;
    text-align: left;
}
.fila h1{
    color: rgb(223, 64, 64);
    font-family: 'Amatic SC', cursive ;

    font-family: 'Barlow Condensed', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Serif', serif;

    font-family: 'Ubuntu Mono', monospace;

    font-weight: 900;
    font-size: 2.1rem;
    margin-bottom: 20px;
}
.fila h3{
    font-family: 'Amatic SC', cursive ;

    font-family: 'Barlow Condensed', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Serif', serif;

    font-family: 'Ubuntu Mono', monospace;

    font-weight: 300;
}
.fila{
    padding: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid tomato; */
    width: 45%;
    height: 300px;
    text-align: left;
    margin: 20px;
    background: linear-gradient(180deg, #ccc, #ffff);
    opacity: 0.8;
    box-shadow: 0 3px 20px #ccc;
    border-radius: 20px;
}
.fila-2{
    /* border: 2px solid tomato; */
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 20px;
    /* perspective: 700px; */
    /* perspective-origin: bottom; */
}
.foto{
    max-width: 400px;
    /* transition: all 1s; 
    transform: rotateY(150deg) rotateX(-30deg); */
    /* animation: sol 5s linear infinite; */
}   
/* @keyframes sol {
    0%, 100%{
        transform: translateY(-15px);
    }

    50%{
        transform: translateY(10px);
    }
} */
@media screen and (max-width: 900px) {
    .contenido{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        height: 500px;
        width: 100%;
        margin: 0;
        border: none;
    }
    .fila,.fila-2{
        border: 2px solid tomato;
        width: 100%;
        margin: 0;
        border: none;
    }
    .fila{
        padding: 40px;
       
    }
    .fila-2{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .foto{
        max-width: 300px;
    }
}

/* ICONOS REDES SOCIALES */
.item-social{   
    display: flex;
    justify-content: left;
    flex-direction: row;
    list-style-type: none;
    margin-top: 10px;
}
.item-social li a img{
    width: 25px;
    height: 25px;
}
.item-social li{
    margin-top: 10px;
    margin-right: 20px;
}
/* ANIMACION ILUSTRACION */

#sol-js,#sol-js2{
    animation: moveSol 8s ease;
}

@keyframes moveSol{
    from{transform: rotate(20deg);}
}
#movimiento1,#movimiento2,#movimiento3{
    animation: fila1 3s ease infinite;
}

@keyframes fila1{
    0%, 100%{
        transform: translateX(-5px);
    }

    50%{
        transform: translateX(8px);
    }
}

#bootstrap-2,#css-2{
    animation: bootstrap 3s ease infinite;
}

@keyframes bootstrap{
    0%, 100%{       
        transform: translateY(-15px);
    }

    50%{
        transform: translateY(15px);
    }
}
#html-2{
    animation: html 3s ease infinite;
}

@keyframes html{
    0%, 100%{       
        transform: translateY(20px);
    }

    50%{
        transform: translateY(-20px);
    }
}

/* BARRA DE PROGRESO */

.caja{
    display: flex;
    overflow: scroll;
    scrollbar-width: thin;       
    scrollbar-color: rgb(192, 46, 46) rgb(109, 102, 90);
    width: 100%;
  }
  
  
  .container {
    height: 400px;
    min-width: 450px;
    background-color: #ffffff;
  
    border-radius: 8px;
    box-shadow: 20px 20px 40px rgb(27, 230, 8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circular-progress, .circular-progress2, .circular-progress3, .circular-progress4, .circular-progress5 {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .circular-progress:before, .circular-progress2:before, .circular-progress3:before, .circular-progress4:before, .circular-progress5:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .value-container,.value-container2, .value-container3, .value-container4, .value-container5 {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: #231c3d;
    margin-bottom: 20px;
  }
  .html{  
  
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
  }
  .html-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 30px;
  }
  